In [9]:
import pandas as pd 
import numpy as np

In [11]:
df=pd.read_csv("Facebook Metrics of Cosmetic Brand.csv")

In [13]:
df.head()

,Unnamed: 0,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [15]:
df.shape

(500, 20)

In [17]:

# Creating a subset by selecting specific columns by their name
subset_1=df[['Category','Post Month','Post Weekday','Post Hour','Paid']]

In [19]:

subset_1

     Category  Post Month  Post Weekday  Post Hour  Paid
0           2          12             4          3   0.0
1           2          12             3         10   0.0
2           3          12             3          3   0.0
3           2          12             2         10   1.0
4           2          12             2          3   0.0
..        ...         ...           ...        ...   ...
495         3           1             7          2   0.0
496         2           1             5          8   0.0
497         1           1             5          2   0.0
498         3           1             4         11   0.0
499         2           1             4          4   NaN

[500 rows x 5 columns]

In [21]:

# Creating a subset by filtering a row  
#subset_2 will contain only those rows from the original DataFrame where the 'Total Interactions' value is greater than 500.0.


subset_2=df[df['Total Interactions']>500.0]

In [23]:

subset_2

,Unnamed: 0,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
14,14,138414,Photo,2,12,4,5,1.0,22784,39941,887,337,417,34415,19312,684,2,577.0,20.0,599
17,17,138414,Photo,1,12,2,12,1.0,53264,111785,1706,1103,1655,92512,39776,1307,15,678.0,20.0,713
28,28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
67,67,138185,Photo,1,11,7,3,1.0,53456,93790,1576,995,1469,32646,14912,884,20,697.0,70.0,787
71,71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
75,75,137893,Photo,1,11,3,2,1.0,37376,68610,1150,808,1341,22100,10880,724,20,411.0,74.0,505
101,101,137020,Photo,2,10,4,3,0.0,68896,104952,2624,1326,1952,35707,19840,1354,26,1505.0,95.0,1626
105,105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
142,142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
167,167,135428,Photo,3,9,4,2,1.0,10748,19724,892,498,719,13674,7624,704,8,485.0,64.0,557
168,168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
176,176,135195,Photo,3,9,6,3,1.0,22304,37159,1805,984,1618,22864,13304,1349,29,1047.0,98.0,1174
191,191,133679,Photo,3,8,1,10,0.0,19648,33643,1359,695,990,24034,13528,1020,9,766.0,43.0,818
199,199,132817,Photo,3,8,4,10,0.0,33536,64850,1954,1016,1678,50076,24448,1564,33,1155.0,102.0,1290
206,206,132201,Photo,1,8,1,3,0.0,50640,121234,2240,1577,2779,92348,34880,1790,4,859.0,68.0,931
240,240,130791,Photo,3,7,5,3,0.0,19968,35161,1016,592,909,26701,14792,757,6,535.0,83.0,624
242,242,130791,Status,2,7,4,6,0.0,17360,33613,2573,2448,6017,23338,11800,1905,9,484.0,79.0,572
244,244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,6334
254,254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,823
264,264,128032,Photo,3,7,7,3,0.0,38576,55398,1355,890,1328,17365,12624,827,7,529.0,60.0,596
270,270,128032,Photo,2,7,4,5,1.0,53056,65260,2003,1412,2089,23679,17104,975,6,696.0,28.0,730
272,272,127082,Photo,1,7,3,3,1.0,76096,94644,2889,2495,4596,31096,19744,1276,22,534.0,31.0,587
288,288,126141,Photo,1,6,4,12,0.0,20896,29062,1418,1038,2048,19738,13656,998,103,469.0,33.0,605
323,323,123047,Photo,3,6,1,10,0.0,56672,104966,2579,1334,1850,78678,37408,1831,20,1372.0,47.0,1439
328,328,120050,Photo,3,5,4,12,0.0,39040,55633,1684,1183,2123,32021,19712,1101,16,617.0,58.0,691
346,346,117764,Photo,3,5,7,2,0.0,38960,65149,2298,1702,3000,57722,34368,1978,37,821.0,90.0,948
349,349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
370,370,113028,Photo,1,4,6,14,0.0,28352,55202,1476,1242,1990,47899,24512,1185,45,407.0,76.0,528
371,371,113028,Status,2,4,6,3,1.0,17912,34774,2750,2567,6591,21009,11408,2256,17,447.0,123.0,587
379,379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
391,391,109670,Photo,2,4,1,13,1.0,32208,55696,1933,1367,2123,43980,24720,1568,6,766.0,109.0,881
442,442,98195,Photo,3,3,4,13,0.0,34480,191207,1591,1156,1926,184270,30720,1292,10,664.0,97.0,771
460,460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
476,476,86909,Photo,1,1,6,10,1.0,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
480,480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515

In [25]:

subset_2.shape

(36, 20)

In [34]:
# Creating a subset by selecting specific rows and columns 
#The .loc[] method is used to access specific rows and columns.
#1.0 → The post was paid/promoted. This means money was spent to boost its visibility to reach more people.
#0.0 → The post was not paid/promoted. It was shared organically, meaning it reached users without paid promotion.
subset_3=df.loc[df['Total Interactions']>500,['Type','Paid']]

In [30]:
subset_3

       Type  Paid
3     Photo   1.0
14    Photo   1.0
17    Photo   1.0
28    Photo   0.0
67    Photo   1.0
71    Video   1.0
75    Photo   1.0
101   Photo   0.0
105   Photo   0.0
142  Status   1.0
167   Photo   1.0
168   Photo   0.0
176   Photo   1.0
191   Photo   0.0
199   Photo   0.0
206   Photo   0.0
240   Photo   0.0
242  Status   0.0
244   Photo   1.0
254   Photo   0.0
264   Photo   0.0
270   Photo   1.0
272   Photo   1.0
288   Photo   0.0
323   Photo   0.0
328   Photo   0.0
346   Photo   0.0
349   Photo   0.0
370   Photo   0.0
371  Status   1.0
379   Photo   1.0
391   Photo   1.0
442   Photo   0.0
460   Photo   0.0
476   Photo   1.0
480   Photo   0.0

In [32]:
subset_3.shape

(36, 2)

In [36]:
#  df.iloc[]
# .iloc[] is used for index-based selection (purely by row numbers).

# It selects rows and columns by position, not by label.

# 2. 10:20
# This is a Python slice: it starts at index 10 and goes up to but not including index 20.

# So, it selects rows with index: 10, 11, 12, ..., 19.



# Creating a subset by index range
subset_4=df.iloc[10:20]

In [38]:

subset_4

,Unnamed: 0,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
10,10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
11,11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
12,12,139441,Photo,2,12,5,10,0.0,2847,5133,193,115,133,3779,2072,152,0,90.0,14.0,104
13,13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
14,14,138414,Photo,2,12,4,5,1.0,22784,39941,887,337,417,34415,19312,684,2,577.0,20.0,599
15,15,138414,Status,2,12,3,10,0.0,10060,19680,1264,1209,1425,17272,8548,1162,4,86.0,18.0,108
16,16,138414,Photo,3,12,3,3,0.0,1722,2981,163,123,148,1868,1050,123,2,40.0,12.0,54
17,17,138414,Photo,1,12,2,12,1.0,53264,111785,1706,1103,1655,92512,39776,1307,15,678.0,20.0,713
18,18,138414,Status,3,12,2,3,0.0,3930,7509,130,86,112,5009,2410,101,4,54.0,17.0,75
19,19,138414,Photo,3,12,1,11,0.0,1591,2825,121,88,111,2116,1161,100,0,34.0,8.0,42

In [41]:
subset_4.shape

(10, 20)

In [43]:
# . df.sample()
# The .sample() function is used to randomly select rows from the DataFrame.

# You can specify how many rows to pick using:

# n → exact number of rows

# frac → fraction of the total number of rows

# 2. frac=0.1
# This means: take 10% of the total rows.

# For example, if your DataFrame has 500 rows, this will return 0.1 × 500 = 50 rows.

# 3. random_state=1
# This is a seed for random number generation.

# Setting a fixed value (like 1) ensures reproducibility — you'll get the same random sample every time you run the code.

# If you remove this or use a different value, you'll get different rows each time.

# 4. subset_5 =
# Stores the sampled rows into a new DataFrame called subset_5

subset_5=df.sample(frac=0.1,random_state=1)

In [48]:

subset_5

,Unnamed: 0,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
304,304,124940,Photo,1,6,4,12,0.0,58304,80871,884,715,1034,2289,1408,340,0,148.0,7.0,155
340,340,117764,Photo,3,5,4,4,0.0,5016,8745,679,569,966,5904,3322,488,6,212.0,36.0,254
47,47,138353,Link,1,12,3,2,0.0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32
67,67,138185,Photo,1,11,7,3,1.0,53456,93790,1576,995,1469,32646,14912,884,20,697.0,70.0,787
479,479,86909,Photo,3,1,5,4,0.0,6056,10325,1117,1078,1427,6823,3788,487,7,84.0,36.0,127
485,485,86491,Link,1,1,2,2,0.0,5168,8371,66,59,71,7041,3996,58,0,12.0,2.0,14
310,310,124940,Photo,1,6,1,13,0.0,4452,7998,666,658,948,7037,3768,397,0,22.0,3.0,25
31,31,138895,Photo,2,12,3,10,0.0,1683,2929,192,171,221,1585,858,131,1,27.0,11.0,39
249,249,129600,Photo,2,7,7,11,1.0,2602,4349,479,444,588,3342,1946,287,1,53.0,14.0,68
90,90,137059,Photo,1,11,2,3,0.0,24720,37240,845,564,850,14475,8120,504,13,331.0,77.0,421
322,322,123047,Photo,3,6,2,5,1.0,3662,6476,560,522,677,4930,2660,319,2,67.0,14.0,83
168,168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
119,119,136393,Photo,1,10,7,10,0.0,786,1573,263,257,318,1401,660,222,0,6.0,2.0,8
66,66,138185,Photo,1,11,7,11,0.0,2149,4120,197,156,219,3302,1640,161,0,48.0,7.0,55
305,305,124940,Photo,3,6,4,2,0.0,4762,8303,842,725,1014,6086,3494,569,2,208.0,28.0,238
189,189,133679,Photo,2,9,2,10,0.0,3100,5388,518,422,609,3927,2274,367,3,146.0,15.0,164
434,434,100732,Photo,1,3,6,15,0.0,5704,10510,452,450,2895,9348,5388,361,1,15.0,1.0,17
289,289,125612,Photo,1,6,4,11,0.0,2402,4072,170,145,286,3147,1794,137,5,57.0,5.0,67
142,142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
146,146,136013,Photo,3,10,1,3,0.0,18120,44940,421,282,463,4401,2616,327,0,189.0,15.0,204
293,293,125612,Photo,2,6,3,3,0.0,3322,5969,610,569,852,4111,2236,375,1,71.0,23.0,95
312,312,124940,Photo,3,6,7,10,0.0,3028,4794,579,548,740,3574,2184,349,2,59.0,12.0,73
311,311,124940,Photo,3,6,1,3,0.0,3576,5525,664,618,870,4229,2672,403,2,84.0,13.0,99
492,492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137
65,65,138185,Photo,1,11,1,3,0.0,3416,6167,356,298,641,4530,2388,280,19,77.0,23.0,119
374,374,113028,Photo,1,4,4,12,1.0,6880,11736,671,639,889,9389,5232,556,0,59.0,16.0,75
34,34,138895,Photo,1,12,2,3,0.0,3766,7149,298,260,431,5782,2938,244,2,56.0,17.0,75
342,342,117764,Photo,2,5,2,11,0.0,6444,11509,734,625,1157,7910,4136,512,5,194.0,33.0,232
173,173,135195,Photo,1,9,1,4,0.0,4484,7829,545,424,629,4208,2412,382,6,179.0,40.0,225
201,201,132817,Photo,1,8,3,9,0.0,3376,6557,428,409,631,5700,2806,331,0,40.0,5.0,45
179,179,135195,Photo,2,9,4,10,0.0,3582,6518,537,430,597,3857,2124,404,4,154.0,36.0,194
306,306,124940,Photo,2,6,3,13,0.0,6150,10217,750,676,969,6253,3742,445,12,148.0,28.0,188
233,233,131630,Photo,1,7,1,11,0.0,4592,6691,320,289,423,3238,2100,222,1,43.0,10.0,54
442,442,98195,Photo,3,3,4,13,0.0,34480,191207,1591,1156,1926,184270,30720,1292,10,664.0,97.0,771
345,345,117764,Photo,3,5,7,13,1.0,4362,7378,604,509,767,5681,3216,469,3,156.0,20.0,179
128,128,136393,Photo,1,10,6,13,0.0,645,1117,195,192,224,989,554,166,0,4.0,1.0,5
277,277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271
4,4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
401,401,107907,Photo,1,4,3,13,1.0,46192,80227,1364,1096,1697,32842,16960,762,9,329.0,38.0,376
361,361,116091,Photo,3,5,6,3,0.0,3332,5797,463,406,552,4347,2330,341,0,87.0,18.0,105
326,326,121540,Photo,2,5,7,14,0.0,3806,6486,722,658,880,4955,2772,361,1,79.0,17.0,97
430,430,100732,Link,1,3,7,14,0.0,2933,5144,24,23,26,3972,2012,19,0,6.0,0.0,6
467,467,91758,Photo,2,2,5,3,1.0,15880,51571,1188,1071,1410,47976,13560,677,1,200.0,37.0,238
213,213,132201,Photo,3,8,4,11,1.0,1006,1594,277,268,354,1055,651,187,1,11.0,3.0,15
330,330,120050,Photo,3,5,3,12,0.0,21248,34095,1049,918,1438,11280,6664,536,20,199.0,32.0,251
329,329,120050,Photo,3,5,4,4,1.0,4032,7278,684,607,848,4935,2644,432,7,139.0,34.0,180
295,295,125612,Photo,1,6,2,2,0.0,11620,21564,1160,1138,2042,20024,10568,920,5,54.0,7.0,66
416,416,104070,Status,1,3,3,15,0.0,9120,14759,951,937,1290,13246,8004,924,3,25.0,6.0,34
406,406,107907,Photo,3,4,7,3,0.0,4770,7716,494,455,632,5040,3114,344,2,97.0,25.0,124
102,102,137020,Photo,3,10,3,10,0.0,1711,3174,288,245,339,2226,1118,205,2,63.0,14.0,79

In [50]:
subset_5.shape

(50, 20)

In [52]:

# df['Total Interactions'] > 500	Posts with more than 500 interactions
# df['Paid'] < 1	Posts that were not paid/promoted
# &	Both conditions must be true
# subset_6 =	Stores the filtered result

subset_6=df[(df['Total Interactions']>500)&(df['Paid']<1)]

In [54]:

subset_6

,Unnamed: 0,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
28,28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
101,101,137020,Photo,2,10,4,3,0.0,68896,104952,2624,1326,1952,35707,19840,1354,26,1505.0,95.0,1626
105,105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
168,168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
191,191,133679,Photo,3,8,1,10,0.0,19648,33643,1359,695,990,24034,13528,1020,9,766.0,43.0,818
199,199,132817,Photo,3,8,4,10,0.0,33536,64850,1954,1016,1678,50076,24448,1564,33,1155.0,102.0,1290
206,206,132201,Photo,1,8,1,3,0.0,50640,121234,2240,1577,2779,92348,34880,1790,4,859.0,68.0,931
240,240,130791,Photo,3,7,5,3,0.0,19968,35161,1016,592,909,26701,14792,757,6,535.0,83.0,624
242,242,130791,Status,2,7,4,6,0.0,17360,33613,2573,2448,6017,23338,11800,1905,9,484.0,79.0,572
254,254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,823
264,264,128032,Photo,3,7,7,3,0.0,38576,55398,1355,890,1328,17365,12624,827,7,529.0,60.0,596
288,288,126141,Photo,1,6,4,12,0.0,20896,29062,1418,1038,2048,19738,13656,998,103,469.0,33.0,605
323,323,123047,Photo,3,6,1,10,0.0,56672,104966,2579,1334,1850,78678,37408,1831,20,1372.0,47.0,1439
328,328,120050,Photo,3,5,4,12,0.0,39040,55633,1684,1183,2123,32021,19712,1101,16,617.0,58.0,691
346,346,117764,Photo,3,5,7,2,0.0,38960,65149,2298,1702,3000,57722,34368,1978,37,821.0,90.0,948
349,349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,1806
370,370,113028,Photo,1,4,6,14,0.0,28352,55202,1476,1242,1990,47899,24512,1185,45,407.0,76.0,528
442,442,98195,Photo,3,3,4,13,0.0,34480,191207,1591,1156,1926,184270,30720,1292,10,664.0,97.0,771
460,460,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
480,480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515

In [56]:


subset_6.shape

(20, 20)

In [58]:
# . .loc[0:4]
# .loc[] is a label-based indexing method. Here, it is used to select rows based on their index.

# 0:4 means select rows from index 0 to index 4 inclusive. This means:

submerge_1=df[['Total Interactions','share']].loc[0:4]

In [60]:
submerge_1

   Total Interactions  share
0                 100   17.0
1                 164   29.0
2                  80   14.0
3                1777  147.0
4                 393   49.0

In [62]:
submerge_2=df[['share','like']].loc[3:7]

In [65]:
submerge_2

   share    like
3  147.0  1572.0
4   49.0   325.0
5   33.0   152.0
6   27.0   249.0
7   14.0   325.0

In [68]:
# pd.merge() is a function in Pandas used to combine two DataFrames based on a common column or index.
# submerge_1 and submerge_2 are two separate DataFrames (which you created earlier) that you want to combine (merge).
# submerge_1 contains the columns 'share' and 'like'.
# submerge_2 contains the columns 'share' and 'Total Interactions'.
# on='share':
# This specifies that the merge should be done on the 'share' column. Both submerge_1 and submerge_2 should have a column named 'share', and this column will be used to match rows between the two DataFrames.
# how='inner':
# how='inner' specifies that the inner join should be used for the merge.

# In an inner join, only the rows that have matching values in both DataFrames for the 'share' column will be included in the resulting DataFrame.
# The resulting DataFrame (merge_inner) will contain only the rows where the value of 'share' is common in both submerge_1 and submerge_2.
merge_inner=pd.merge(submerge_1,submerge_2,on='share',how='inner')

In [70]:

merge_inner

   Total Interactions  share    like
0                  80   14.0   325.0
1                1777  147.0  1572.0
2                 393   49.0   325.0

In [72]:
# Merging data using outer join
# . Outer Join (how='outer'):
# An outer join returns all rows from both DataFrames (submerge_1 and submerge_2), along with the matching rows where the 'share' column values are the same.

# If a row from one DataFrame does not have a corresponding match in the other DataFrame, the non-matching columns will have NaN values in the resulting DataFrame.

# 2. on='share':
# The merge operation is performed based on the 'share' column. It matches rows from both DataFrames where 'share' values are equal.
merge_outer=pd.merge(submerge_1,submerge_2,on='share',how='outer')

In [74]:
merge_outer

   Total Interactions  share    like
0                80.0   14.0   325.0
1               100.0   17.0     NaN
2                 NaN   27.0   249.0
3               164.0   29.0     NaN
4                 NaN   33.0   152.0
5               393.0   49.0   325.0
6              1777.0  147.0  1572.0

In [76]:
# The left join keeps all the rows from the left DataFrame (submerge_1) and tries to match them with rows from the right DataFrame (submerge_2) based on the share column.

# If there’s no match in the right DataFrame, the result will contain NaN for the columns from the right DataFrame
merge_left=pd.merge(submerge_1,submerge_2,on='share',how='left')

In [78]:

merge_left

   Total Interactions  share    like
0                 100   17.0     NaN
1                 164   29.0     NaN
2                  80   14.0   325.0
3                1777  147.0  1572.0
4                 393   49.0   325.0

In [82]:
# The right join keeps all the rows from the right DataFrame (submerge_2) and tries to match them with rows from the left DataFrame (submerge_1) based on the share column.

# If there’s no match in the left DataFrame, the result will contain NaN for the columns from the left DataFrame.

merge_right=pd.merge(submerge_1,submerge_2,on='share',how='right')

In [84]:
merge_right

   Total Interactions  share    like
0              1777.0  147.0  1572.0
1               393.0   49.0   325.0
2                 NaN   33.0   152.0
3                 NaN   27.0   249.0
4                80.0   14.0   325.0